# OPTIONAL accelerator: Intel MKL PARDISO sparse direct solver via pypardiso.
# pypardiso itself is BSD-3-Clause, but it installs Intel MKL / OpenMP / TBB,
# which are proprietary (Intel Simplified Software License / Intel EULA).  The
# code runs without it (SuiteSparse CHOLMOD + MUMPS, requirements-opensolvers.txt;
# SciPy SuperLU as the last resort), so it is not a default dependency of this
# AGPL project.  When installed it is the default solver (SB_LINEAR_BACKEND=auto;
# simulation/linear_backend.py).  Install it only where you accept those
# terms, e.g. on your own solve server:
#   pip install -r requirements.txt -r requirements-pardiso.txt
# the Cholesky/LU reuse paths call pypardiso internals (_call_pardiso,
# _check_b, set_phase, iparm): tested on 0.4.7 (tests/test_p2_cholesky.py)
pypardiso>=0.4.7,<0.5
