# OPTIONAL accelerator: Intel MKL PARDISO sparse direct solver via pypardiso.
# pypardiso itself is BSD-3-Clause; it pulls Intel MKL / tbb / tcmlib, which
# are proprietary (Intel Simplified Software License, ISSL -- permissive
# binary redistribution, no SaaS/reciprocal-open-source clause; see
# THIRD_PARTY_NOTICES.md note 2).  The code runs without it (SciPy SuperLU
# fallback), so it is not a default dependency of this Apache-2.0 project.
#
# DO NOT `pip install -r requirements.txt -r requirements-pardiso.txt` as-is:
# the `mkl` wheel's METADATA hard-requires `intel-openmp`, which pulls
# `intel-cmplr-lib-ur` (then `umf`) -- those two ship under a DIFFERENT,
# restrictive "Intel EULA for Developer Tools" whose §3.1(x)/(xi) bar
# reciprocal-open-source linking and SaaS use (wrong for a hosted service;
# see THIRD_PARTY_NOTICES.md note 2 and
# C:\Users\vadim\Downloads\mkl_without_intel_openmp_2026-09-30.md).  MKL's
# threading backend is chosen at runtime via dlopen(), keyed on
# MKL_THREADING_LAYER; only INTEL (the default when unset) touches the
# EULA'd libiomp5.so.  To install PARDISO without intel-openmp at all
# (this is exactly what deploy/Dockerfile.api's WITH_PARDISO=1 build does):
#   pip install --no-deps mkl==2026.1.0 onemkl-license==2026.1.0 \
#       tbb==2023.1.0 tcmlib==1.5.0
#   pip install --no-deps pypardiso==0.4.7
#   export MKL_THREADING_LAYER=SEQUENTIAL   # or TBB; NEVER leave unset
# the Cholesky/LU reuse paths call pypardiso internals (_call_pardiso,
# _check_b, set_phase, iparm): tested on 0.4.7 (tests/test_p2_cholesky.py)
pypardiso>=0.4.7,<0.5
