# netgen is now the DEFAULT CDT backend and is pinned in requirements.txt too
# (docs/MESHER_NETGEN_2026-09-30.md); this file stays for installs that skip
# requirements.txt.
# netgen-mesher is LGPL-2.1-only; it pulls netgen-occt (OpenCASCADE Technology,
# LGPL-2.1 with the OCCT exception).  Both are dynamically loaded Python
# packages, so they may run in-process next to Intel MKL under any licence.
netgen-mesher==6.2.2607
